.container {
    background-color: rgba(255, 255, 255, 0.80);
    /* border: #fefbacd6 2px solid; */
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 1px;
}

.uefalogo {
    width: 8em;
    border-radius: 43px;
    margin-left: 18px;
    margin-right: 60px;
    display: inline;
}

.default {
    text-align: center;
}

.table {
    width: 100%;
    border: 1px solid #000;
    text-align: left;
    vertical-align: top;
    border-collapse: collapse;
    padding: 0.3em;
}

.columDer {
    width: 54em;
    left: 2%;
    margin-left: 9%;
}

.fila {
    border-spacing: 5px 1rem;
}

.caption1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 700;
    color: #356494;
    text-indent: 0;
    margin: 0 0 .5em
}

.jugador {
    width: 3em;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 8%;
}

.div2 {
    display: flex;
    align-items:center;
}