body{
    margin-left: 2%;
    margin-right: 2%;
    width: 98%;
    background-color: #4b4a4a;
}

.banner {
    
}

.bloque1 {
    height: 30em; /* Altura del bloque*/
    width: 44%; /* Ancho del bloque*/
    float: inline-start; 
}

.bloque2 {
    height: 14em;
    width: 23%;
    float: inline-start;
}

.bloques {
    margin: 1.5%;
    background-color: #efefef;
}

.lista_imagenes img { 
    width: 100%;
    object-fit: cover;
    width: 35%;
    height: 35%;
    margin-right: 1em;
}

.lista_imagenes {
    padding: 16px;
    display: flex;
    overflow-y: auto;
}

.galeria {
    padding: 16px;
    display: flex;
    overflow-y: auto;
}

.carta {
    margin-right: 10px;
    position: relative;
}

.carta img {
    width: 200px;
    height: 300px;
    object-fit: cover;
}

.cuerpo_carta {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}

.cuerpo_carta h5, .cuerpo_carta p {
    margin: 0;
}